<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>.txt</string>
		<key>icon</key>
		<string>file_txtfile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.rtf</string>
		<key>icon</key>
		<string>file_txtfile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.txt</string>
		<key>icon</key>
		<string>file_txtfile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.doc</string>
		<key>icon</key>
		<string>file_doc_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.docx</string>
		<key>icon</key>
		<string>file_doc_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.xls</string>
		<key>icon</key>
		<string>file_excel_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.xlsx</string>
		<key>icon</key>
		<string>file_excel_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.ppt</string>
		<key>icon</key>
		<string>file_ppt_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.pptx</string>
		<key>icon</key>
		<string>file_ppt_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.pdf</string>
		<key>icon</key>
		<string>file_pdf_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.pdf</string>
		<key>icon</key>
		<string>file_pdf_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.jpg</string>
		<key>icon</key>
		<string>file_image_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.jpeg</string>
		<key>icon</key>
		<string>file_image_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.bmp</string>
		<key>icon</key>
		<string>file_image_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.png</string>
		<key>icon</key>
		<string>file_image_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.mp4</string>
		<key>icon</key>
		<string>file_videofile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.3gp</string>
		<key>icon</key>
		<string>file_videofile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.mov</string>
		<key>icon</key>
		<string>file_videofile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.mp3</string>
		<key>icon</key>
		<string>file_audiofile_icon</string>
	</dict>
	<dict>
		<key>type</key>
		<string>.wma</string>
		<key>icon</key>
		<string>file_audiofile_icon</string>
	</dict>
</array>
</plist>
